
button {
    background: rgb(23, 195, 201);
    color: snow;
    border: 1px solid #3498db;
    transition: all 0.3s ease;
    overflow: hidden;
    left: 7px;
    border-radius: 25px;
    padding: 6px 20px;
    margin: 15px 0px 10px 0px;
    font-size: 18px;
    padding: 16px 35px;
  }
  
  button:active {
    background-color: rgb(48, 121, 123);
    color: rgb(10, 64, 66);
  }
  button:hover {
    transition-timing-function: ease-in;
    color: #fff;
    background: rgb(31, 75, 76);
    cursor: pointer;
  }
