#hh1 {
    color: #008EA0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    border: solid #008EA0 7px;
    padding: 17px;
    margin: 70px auto 70px auto;
    border-radius: 30px 30px;
    direction: rtl;
    box-shadow: 5px 5px 12px 2px #008EA0 inset;
    font-family: fantasy;
    
    
    }
    h2 {
        color: #008EA0;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
    }
    h3 {
        color: #008EA0;
        font-weight: bold;
        font-size: 25px; ;
    
    }
    span {
        font-weight: bold;
    }
    #ss1 {
        font-size: 25px;
        font-weight: bold;
    
    }
    #main {
        padding-left: 1%;
    }
    button {
        background: rgb(23, 195, 201);
        color: snow;
        border: 1px solid #3498db;
        transition: all 0.3s ease;
        overflow: hidden;
        left: 7px;
        border-radius: 25px;
        padding: 6px 20px;
        margin: 15px 0px 10px 0px;
        font-size: 18px;
        padding: 16px 35px;
      }
      
      button:active {
        background-color: rgb(48, 121, 123);
        color: rgb(10, 64, 66);
      }
      button:hover {
        transition-timing-function: ease-in;
        color: #fff;
        background: rgb(31, 75, 76);
        cursor: pointer;
      }